extends layout

block content
  h2 Fermentation Profile
  div(id='newrow') New Row
  form(method='get', action='update')
    table(id='temptable')
      tr
        th Time From Start (days)
        th Temperature (&deg;C)
      tr
        td
          input(type='text', name='time')
        td
          input(type='text', name='starttemp')
    input(type='submit')
  script(type='text/javascript', src='/brewfridge/javascripts/temptable.js')
