extends layout

block content
  script(type='text/javascript', src='/brewfridge/javascripts/profile.js')
  h2 Fermentation Profile
  div(id='newrow') New Row
  div.row
    div.col-md-4  
      form(method='get', action='update', id='profileForm')
        table(id='temptable')
          tr
            th Time From Start (days)
            th Temperature (&deg;C)
        input(type='submit')
    div.col-md-8#chart_holder
      #curve_chart
