html {
  height: 100%;
}
body {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: Arial;
  font-size: 35px;
  display: block;
  text-align: center;

}

a {
  color: #00B7FF;
}

.full-height {
  height: 100%;
}

#chart_holder {
  height: 100%;
}

#curve_chart {
  border-style: double;
  border-color: #666666;
  border-width: 3px;
  padding: 10px;
  margin: 10px;
  height: 75%;
  width: 95%;
}

.report-block {
  border-style: double;
  border-color: #666666;
  border-width: 3px;
  font-family: Arial;
  font-size: 20px;
  text-align: center;
}

#beerTemp {
  background-color: #dc3912;
}

#fridgeTemp {
  background-color: #3366cc;
}

#internalTemp {
  background-color: #ff9900;
}

#gravity {
  background-color: #990099;
}
#lastReport {
}



#dataline {
  height: 80px;
  padding: 10px;
  margin: 10px;
}

#profile {
}



